.bg-log {
    background-color: #ffffff;
}

.icon {
    position: absolute;
    right: 30px;
}


.button {
    background-color: #FFC55A;
    
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}


@media (min-width: 1920px) {
    .h-custom-2 {
    height: 100%;
    }
    .bg-log {
        width: 30%;
    }
    .width-xxl {
        width: 70%;
    }
}